<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderFile">
        <param name="file" value="Logs.log" />
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date{Y-m-d H:i:s} %level %message %newline" />
        </layout>
    </appender>
    <root>
        <!-- TRACE, DEBUG, INFO, WARN, ERROR, FATAL -->
        <level value="WARN" />
        <appender_ref ref="myAppender" />
    </root>
</configuration>